.nav-right-register{
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
}
.nav-container-reg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.reg-button{
    color:white;
    background-color: #c9c9c9;
}
.reg-button-true{
    color:white;
    background-color: #1c1c1c;
}

.reg-button-true:hover{
    color: white;
    background-color: #4E4E4E;
}

.w-full img{
    width: 25px;
    margin-right: 2px;
}
.exclaim-red{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

